{{> navbar }}


<ul>
    <li>
        <a href="/products/cities/paris"> Paris</a>
    </li>
    <li>
        <a href="/products/cities/lyon"> Lyon</a>
    </li>
    <li>
        <a href="/products/cities/marseille"> Marseille</a>
    </li>
</ul>