{{> navbar }}

<h1>Signup</h1>
<form action='/auth/signup' method='POST'>
  <input type="text" placeholder="Username" name="username" value="aaa"/>
  <input type="password" placeholder="Password" name="password" value="aaaaaaaa"/>
  <input type="password" placeholder="Confirm password" name="confirm_password" value="aaaaaaaa"/>
  <button type="submit">Submit</button>
</form>